// app global css in SCSS form
@font-face {
    font-family: 'proxima_novabold';
    src: url('./fonts/proxima_nova_bold-webfont.woff2') format('woff2'),
         url('./fonts/proxima_nova_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'proxima_novaregular';
    src: url('fonts/proximanova-regular-webfont.woff2') format('woff2'),
         url('fonts/proximanova-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    font-family: 'proxima_novaregular';
    font-size:16px;
}


.header{
    position:fixed; top:0px; width:100%; padding:24px
}

.cart-footer{
    background-color: green;
    color: white;
    font-weight:bold
}
.option-footer{
  background-color: #ffffff;
  border-top: 1px solid rgb(236, 236, 236) ;
  color: rgb(0, 0, 0);
  font-weight:bold
  border-
}

.pane-header{
    border-bottom: 1px solid rgb(236, 236, 236) ;
    padding: 6px;
    z-index: 10000;
}
.pane-footer{
    z-index: 10000;
}



// app global css in SCSS form

.my-btn
  {
    border: 1px solid #ebebeb;
    width: 100% !important;
}

.btn-container{
    border-radius: 3px;
    border: 1px solid #ebebeb;
    width: 100% !important;
    overflow: hidden !important;
    box-shadow: 0 1px 5px rgb(141 141 141 / 20%), 0 2px 2px rgb(141 141 141 / 14%), 0 3px 1px -2px rgb(141 141 141 / 12%);
}

.btn-full{
    width: 90% !important;
}

.text-left{
    text-align: left !important;
}

.counter-btn, .border-btn{
    border: 1px solid #ebebeb;
}

.underline{
    text-decoration: underline;
}

.option-customize{
    top: -11px;
    background-color: white !important;
    padding: 10px;
    width: 60%;
    font-size: 9px !important;
    color: gray;
}





.q-header--bordered {
    border-bottom: 1px solid #f3f3f3;
}

.q-drawer--left.q-drawer--bordered {
    border-right: 1px solid #f3f3f3;
}

.q-toolbar{
    padding: 0px !important;
}

.font-bold {
    font-family: 'proxima_novabold';
  }

.font-regular {
    font-family: 'proxima_novaregular';
    font-size: .93rem;
  }

p{
    font-size:.93rem !important;
    margin: 0px !important;
  }

  .fs-11{
    font-size: 11px !important;
  }

  .fs-12{
    font-size: 12px !important;
  }

  .fs-14{
    font-size: 14px !important;
  }

  .fs-15{
    font-size: 15px !important;
  }

  .fs-16{
    font-size: 16px !important;
  }

  .fs-18{
    font-size: 18px !important;
  }

  .fs-20{
    font-size: 20px !important;
  }

  .fs-22{
    font-size: 22px !important;
  }

  .white-space{
    width:100%;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .pc{
    color: #181c22;
    font-weight: bold;
  }

  .sc{
    color: #7a7a7a;
    font-weight: normal !important;
  }

  .scb{
    color: #7a7a7a;
    font-weight: bold !important;
  }

  .scborder{
    border: 1px solid #dddddd !important;
  }

  .pcborder{
    border-color: #b8b8b8;
  }

  .divider{
    height: 12px;
    margin-bottom: 8px;
    margin-top: 8px;
    background-color: #f4f4f5;
  }

  .hr{
    border-bottom: 1px solid #ebebeb;;
    margin: 12px 24px;
  }

  .hr-dashed{
    border-bottom: 1px dashed #ebebeb;
    margin: 12px 24px;
  }

  .image-brand-profile{
    width: 44px;
  }
  .header{
    box-shadow: 0 0 6px rgb(15 15 15 / 15%);
    background: #ffffff;
    position: fixed;
    top: 0px;
    width: calc(100vw);
    left: 0;
    right: 0;
    z-index: 1000;
  }
  .delivery-header{
    background-color: #ffffff;
    border-bottom: 1px solid #f3f3f3;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #2e3a4d;
    font-family: 'proxima_novaregular';
    font-size: 14px;
  }

  .delivery-text{
    background-color: #ffffff;
    width: 100%;
    line-height: 26px;
    margin-left: 8px !important;
    margin-right: 8px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #2e3a4d;
    font-family: 'proxima_novaregular';
    font-size: 14px;
  }

  .icon{
    font-size: 19px;
    color: red;
    margin-bottom: 2px;
  }



  .container-main{
    padding: 75px 0px 120px 0px;
  }

  #app {
    font-family: 'proxima_novaregular';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    text-align: left;
  }

  .footer-nav{
    background: #ffffff;
    padding: 0px;
    position: fixed;
    bottom: 0px;
    font-weight: bold;
    width: calc(100vw);
    color: rgb(0, 0, 0);
    left: 0;
    right: 0;
    z-index: 1000;
    -webkit-box-shadow: 0 0 8px rgb(15 15 15 / 15%);
    box-shadow: 0 0 8px rgb(15 15 15 / 15%);
    font-size: 11px;
    text-transform: uppercase;
  }

  #nav {
    padding: 30px;
  }

  #nav > a {
    font-weight: bold;
    color: #030303 !important;

  }

  a{
    transition-duration: 500ms;
    text-decoration: none !important;
    outline: 0 solid transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    color: #1f1f1f !important;
  }

  #nav a.router-link-exact-active {
    color: #ffffff;
  }
  .offcanvas{
      z-index: 90000;
  }
  .option-offcanvas{
    height: 100vh !important;
  }
  .option-offcanvas-header {
      background-color: #f2f6fc;
      width: calc(100vw);
      position: fixed;
      top: 0;
  }

  .option-offcanvas-price{
    color: #1f1f1f;
    font-size: 16px;
  }
  .offcanvas-title, .option-title{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #2e3a4d;
    font-family: 'proxima_novaregular';
    font-size: 18px;
  }
  .option-title{
    margin-bottom: 10px !important;
  }

  .option-title span{
    font-size: 12px;
  }
  .option-offcanvas-footer{
    background-color: white;
    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    box-shadow: 0 0 8px rgb(15 15 15 / 15%);
    padding: 16px;
    width: calc(100vw);
    z-index: 1000;
  }

  .option-offcanvas-item-select{
    color: #1f1f1f;
    font-size: 13px;
    margin-bottom: 8px!important;
  }

  .option-offcanvas-cart-button{
    background-color: green;
    color: white !important;
    padding: 12px;
    text-align: center;
  }
  .option-offcanvas-cart-button > p {
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
  }

  .radio{
    transition: 0.25s ease;
  }
  .cart-body{
    background-color: #ffffff;
    padding: 70px 0px 120px 0px;
  }
  .optioncanvas-body{
    padding: 120px 16px;
  }
  .form-check{
    padding: 10px 0px !important;
    margin: 0px !important;
  }
  .form-check-label{
    width: 100%;
  }

  .label {
    display: flex;
    cursor: pointer;
    font-family: 'proxima_novaregular';
    font-size: 1;
    font-weight: 600;
    margin: 0px !important;
    position: relative;
    overflow: hidden;
    /* Accessible outline */
    /* Remove comment to use */
    /*
      &:focus-within {
          outline: .125em solid $primary-color;
      }
    */
  }
  .label input {
    position: absolute;
    left: -9999px;
  }
  .label input:checked + span {
    background-color: #ffffff;
  }
  .label input:checked + span:before {
    box-shadow: inset 0 0 0 0.4375em #00005c;
  }
  .label span {
    display: flex;
    align-items: center;
    border-radius: 99em;
    transition: 0.25s ease;
  }

  .span{
    margin-left: 10px;
  }
  .checkbox:before{
  border-radius: 20%;
  }

  .label span:hover {
    background-color: #ffffff;
  }
  .label span:before {
    display: block;
    flex-shrink: 0;
    content: "";
    background-color: #fff;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    margin-right: 0.775em;
    transition: 0.25s ease;
    box-shadow: inset 0 0 0 0.125em #00005c;
  }

  .label[disabled] {
      background-color: #ffffff;
      color: #b8b8b8;
  }


  .label-disable input {
    position: absolute;
    left: -9999px;
  }
  .label-disable input:checked + span {
    background-color: #ffffff;
  }
  .label-disable input:checked + span:before {
    box-shadow: inset 0 0 0 0.4375em #00005c;
  }
  .label-disable span {
    display: flex;
    align-items: center;
    border-radius: 99em;
    transition: 0.25s ease;
  }

  .span{
    margin-left: 10px;
  }
  .checkbox:before{
  border-radius: 20%;
  }

  .label-disable span:hover {
    background-color: #ffffff;
  }
  .label-disable span:before {
    display: block;
    flex-shrink: 0;
    content: "";
    background-color: #fff;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    margin-right: 0.775em;
    transition: 0.25s ease;
    box-shadow: inset 0 0 0 0.125em #b8b8b8;
  }

  .label-disable[disabled] {
      background-color: #ffffff;
      color: #b8b8b8;
  }



  .form-control-check {
    font-weight: bold;
    border: none;
    display: flex !important;
    grid-template-columns: 1em auto;
    gap: 0.775em;
  }

  .form-control-check + .form-control-check {
    margin-top: 1em;
  }

  .form-control-check--disabled {
    color: #b8b8b8 !important;
    cursor: not-allowed;
  }

  input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--form-background);
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 24px;
    height: 24px;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: flex;
    place-content: center;
  }

  input[type=checkbox]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    margin: 4px;
    -webkit-clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
            clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    /* Windows High Contrast Mode */
    background-color: CanvasText;
  }

  input[type=checkbox]:checked::before {
    transform: scale(1);
  }


  input[type=checkbox]:disabled {
    --form-control-color: var(--form-control-disabled);
    color: var(--form-control-disabled);
    cursor: not-allowed;
  }

  .offcanvas{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .ordertype-option{
    background-color: #ffffff;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #bebebe;
    padding: 16px;
    margin: 6px 0px;
    font-weight: bold;
    font-size: 16px;
  }

  .order-type-header{
    border-bottom: 1px solid #e7e7e7;
  }

  .inactive p, .inactive h2{
    color: #cfcfcf !important;
  }

  .user-detail-tag, .delivery-address-tag, .cart-coupon-tag, .place-detail-tag, .category-list{
    font-weight: bold;
    font-size: 16px;
  }


  .place-detail-tag > h2{
    font-weight: bold;
    font-size: 18px;
  }

  .user-detail-tag, .place-detail-tag, .category-list{
     border-bottom: 1px solid #e7e7e7;
  }

  .cart-item-name{
    font-size: 14px;
    font-weight: 700;
    color: #020310;
  }
  .bill-details-item{
    font-size: 14px;
    color: #020310;
  }
  .cart-item-price{
    font-size: 14px;
    margin-top: 12px !important;
    font-weight: 700;
    color: #8f8f8f !important;
  }

  .cart-item-customize{
    font-size: 14px;
    margin-top: 12px !important;
    font-weight: 700;
    color: #330404 !important;
  }

  .bill-details{
    font-weight: 400 !important;
  }

  .bill-details-pay{
    font-size: 19px;
    color: #020310;
    font-weight: bold;
  }


  .bills-detail-container{
    width:84px;
    margin-left:12px !important;
    text-align:right !important;
  }

  .discount{
    color: green;
  }


  body.platform-ios .q-dialog__inner--minimized > div, body.platform-android:not(.native-mobile) .q-dialog__inner--minimized > div {
    max-height: calc(100vh - 0px);
}

.q-item__section--side{
    padding-right: 7px !important;
}

.q-item__section--avatar{
    min-width: 28px;
}


.q-separator {
    background: #ebebeb !important;
    margin: 0px !important;
}


.text-caption{
    letter-spacing: 0.001em !important;
}

.cart-item{
    padding: 12px 16px;
}

.internet-status{
  color: #030303;
  padding: 2px;
  text-align: center;
}
.offline{
    background-color: #b43e3e;
}

.online{
    background-color: #3eb489;
}

.coupon-tag{
  border: 1px solid orange;
}
.button-coupon-apply{
  color: orangered;
}

.q-field__label-login{
  top:22px !important;
}

.q-field__label{
  text-transform: uppercase;
}

.q-linear-progress{
    height: 0.5em;
}

.q-linear-progress__track--light{
    background-color: white !important;
}

.browse-category{
    width:50%;
    margin:auto;
    background-color:#181c22;
    text-align:center;
    color:white;
    border-radius: 50px;
}

.category-list-item{
    padding: 12px 0px;
}

.my-card{
    background-color: #ffffff;
}

.list-padding{
  min-height: 30px !important;
  padding: 8px 16px;
}


.banner_1, .category-banner{

    border-radius: 4px;
    width: 100%;
    overflow: hidden;
}

.q-router-link--exact-active .q-tab__label{
    font-weight: bold !important;
}

.category-banner img{
  width: 100%;
  border-radius: 4px;
}

.category-list-button{
  margin: auto;
  padding: 12px;
  width: 150px;
  text-align: center;
  border: 1px solid #111111;
  color: white;
  border-radius: 100px;
}